@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #626e5270;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #788865;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  background: linear-gradient(235deg, #c444ff 0%, #562999 59.78%);
}
