@use "sections/global";
@use "sections/header";
@use "sections/info-block";
@use "sections/video";
@use "sections/services";
@use "sections/our-works";
@use "sections/contact-us";
@use "sections/footer";
