.header{
    padding: 10px 0;
    overflow: hidden;
    @media(max-width: 767px){
        padding: 0;
      }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display: inline-flex;
        position: absolute;
        top: 0;
        left: 48%;
        transform: translateX(-50%);
        @media(max-width: 1024px){
            left: 46%;
            width: 150px;
            img{
                width: 100%;
            }
          }
          @media(max-width: 767px){
            position: static;
            transform: translate(0,0);
            width: 120px;
          }
    }
    .main-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        list-style-type: none;
        padding: 0;
        transition: .3s;
        @media(max-width: 767px){
            position: absolute;
            flex-direction: column;
            justify-content: flex-start;
            top: 90px;
            left: 0;
            border-top: 1px solid #fff;
            background: linear-gradient(235deg, #c444ff 0%, #562999 59.78%);
            height: 100vh;
            z-index: 10;
            overflow-y: auto;
            transform: scale(0);
            opacity: 0;
            padding-top: 30px;
          }
        li{
            .menu-link{
                padding: 30px 0;
                display: inline-block;
                font-size: 28px;
                font-weight: 300;
                color: white;
                @media(max-width: 1024px){
                    font-size: 22px;
                  }
                  @media(max-width: 767px){
                    font-size: 28px;
                    font-weight: 400;
                    padding: 10px 0;
                  }
            }
        }
        &.open{
          transform: scale(1);
          opacity: 1;
        }
    }
}

.drop-menu {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    display: none;
  
    @media (max-width: 767px) {
      display: flex;
    }
  
    .line {
      width: 40px;
      height: 3px;
      background-color: #fff;
      display: block;
      margin: 4px auto;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
  
.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}