.header{
    padding: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    max-width: 1270px;
    margin: 10px auto;
    z-index: 10;
    transform: translateX(-50%);
    transition: .3s ease;
    width: calc(100% - 40px);
    @media(max-width: 767px){
        padding: 0;
        width: 100%;
        margin: 0;
      }
    .container{
        display: flex;
        align-items: center;
        @media(max-width: 767px){
          justify-content: space-between;
          padding-bottom: 10px;
        }
    }
    .logo{
        display: inline-flex;
        position: absolute;
        top: -10px;
        left: 48%;
        transform: translateX(-50%);
        @media(max-width: 1024px){
            left: 46%;
            width: 150px;
            img{
                width: 100%;
            }
          }
          @media(max-width: 767px){
            position: static;
            transform: translate(0,0);
            width: 120px;
          }
    }
    .main-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        list-style-type: none;
        padding: 0;
        transition: .3s;
        @media (max-width: 1200px) {
          justify-content: space-between;
        }
        @media(max-width: 767px){
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            top: 75px;
            left: 0;
            background: #be3ef9;
            border-top: 1px solid #fff;
            height: 100vh;
            z-index: 10;
            overflow-y: auto;
            transform: scale(0);
            opacity: 0;
            padding-top: 30px;
          }
        li{
            .menu-link{
                padding: 30px 0;
                display: inline-block;
                font-size: 28px;
                font-weight: 300;
                color: white;
                overflow: hidden;
                position: relative;
                @media(max-width: 1024px){
                    font-size: 22px;
                  }
                  @media(max-width: 767px){
                    font-size: 28px;
                    font-weight: 400;
                    padding: 10px 0;
                  }
                &:after{
                  content: "";
                  width: 50%;
                  height: 1px;
                  position: absolute;
                  left: -100%;
                  bottom: 26px;
                  opacity: 0;
                  transition: .5s;
                  background: white;
                }
                &:before{
                  content: "";
                  width: 50%;
                  height: 1px;
                  position: absolute;
                  right: -100%;
                  opacity: 0;
                  bottom: 26px;
                  transition: .5s;
                  background: white;
                }
                &:hover{
                  &:after{
                    left: 0;
                    opacity: 1;
                  }
                  &:before{
                    right: 0;
                    opacity: 1;
                  }
                }
            }
        }
        &.open{
          transform: scale(1);
          opacity: 1;
        }
    }
}

.header.fixed {
  border-radius: 60px;
  border: 1px solid #FFF;
  background: rgba(196, 68, 255, 0.38);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  @media(max-width: 767px){
    border-radius: 0;
    border: none;
  }

}

.header.hidden {
  transform: translateY(-100%);
}

.drop-menu {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    display: none;
    margin-top: 10px;
    @media (max-width: 767px) {
      display: flex;
    }
  
    .line {
      width: 40px;
      height: 3px;
      background-color: #fff;
      display: block;
      margin: 4px auto;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
  
.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}