.info-block{
    padding: 150px 0 40px;
    @media(max-width: 767px){
      padding-top: 110px;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 1024px){
          flex-direction: column;
          align-items: flex-start;
        }
        
    }
    .info{
        width: 58%;
        padding-right: 20px;
        @media(max-width: 1024px){
          width: 100%;
          margin-bottom: 30px;
          padding-right: 0;
        }
        .main-title{
            margin-bottom: 15px;
            @media(max-width: 1200px){
              font-size: 44px;
              max-width: 550px;
            }
            @media(max-width: 1024px){
              max-width: 550px;
            }
            @media(max-width: 767px){
              font-size: 34px;
              max-width: 420px;
            }
        }
        p{
            font-size: 28px;
            margin-bottom: 30px;
            color: white;
            font-weight: 400;
            @media(max-width: 1200px){
              font-size: 24px;
            }
            @media(max-width: 767px){
              font-size: 18px;
            }
            b{
                font-weight: bold;
            }
        }
    }
    .ai-block{
      max-width: 470px;
      width: 100%;
      border-radius: 20px;
      height: 450px;
      background: white;
      @media(max-width: 1024px){
       max-width: 100%;
       height: 50vw;
      }
    }
}

.info-slider {
    width: 100%;
    padding-left: 17px;
    padding-right: 20px;
  }
  
  .info-slider .swiper-slide {
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
  }
  
  .info-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    &.swiper-button-next{
        right: -9px;
    }
    &.swiper-button-prev{
        left: -11px;
        img{
            transform: rotate(180deg);
        }
    }
    img{
        margin: auto;
        width: 100%;
    }
    &:after{
        content: none;
    }
  }

