.our-works{
    margin: 60px 0;
    @media (max-width: 767px) {
        margin: 40px 0;
      }
    .our-works-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
          }
          @media (max-width: 767px) {
            grid-template-columns: 1fr;
            margin-bottom: 30px;
          }
        .our-works-item{
            display: flex;
            flex-direction: column;
            border: 1px solid #FFF;
            overflow: hidden;
            border-radius: 20px;
            background: linear-gradient(148deg, #C444FF 
            1.27%, #562999 100.15%);
            .text{
                padding: 30px;
                color: white;
                font-size: 54px;
                text-align: center;
                display: block;
                @media (max-width: 1200px) {
                    font-size: 40px;
                  }
            }
            .img-wrap{
                display: flex;
                border-radius: 20px;
                overflow: hidden;
                width: 104%;
                margin-left: -2%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
    .show-all{
        display: flex;
        align-items: center;
        font-size: 38px;
        color: white;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 14px 40px;
        font-weight: 300;
        border-radius: 20px;
        background: linear-gradient(148deg, #C444FF 1.27%,
         #562999 100.15%);
         @media (max-width: 767px) {
            padding: 12px 24px;
            font-size: 24px;
            justify-content: space-between;
            border-radius: 0;
          }
        img{
            margin-left: 30px;
            @media (max-width: 767px) {
               width: 24px;
              }
        }
    }
}