.request-popup{
    border-radius: 30px;
    background: linear-gradient(235deg, #C444FF 0%,
    #562999 59.78%);
    padding: 60px 30px;
    max-width: 1270px;
    width: calc(100% - 40px);
    margin: 150px auto 100px;
    position: relative;
    z-index: 0;
    border: 1px solid #fff;
    .popup-close{
        position: absolute;
        top: 30px;
        right: 30px;
        background: none;
    }
    h2{
        margin-bottom: 60px;
        margin-top: 60px;
        font-size: 68px;
        font-weight: bold;
        color: white;
        text-align: center;
        @media (max-width: 1024px) {
            font-size: 54px;
            margin: 30px 0;
          }
          @media (max-width: 767px) {
            font-size: 40px;
          }
    }
}

.request-form{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    .inputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
          }
        input{
            border-bottom: 2px solid #fff;
            padding: 10px 0;
            background: none;
            font-size: 28px;
            color: white;

            &::placeholder {
               color: white;
               font-size: 28px;
              }
              @media (max-width: 767px) {
                font-size: 22px;
                border-width: 1px;
                &::placeholder {
                    font-size: 22px;
                   }
              }
        }

    }
    textarea{
        width: 100%;
        resize: none;
        height: 200px;
        border: 2px solid #fff;
        padding: 30px;
        font-size: 28px;
        color: white;
        margin-bottom: 60px;
        background: none;
        &::placeholder {
            color: white;
            font-size: 28px;
           }
           @media (max-width: 767px) {
            font-size: 22px;
            border-width: 1px;
            padding: 20px;
            margin-bottom: 30px;
            &::placeholder {
                font-size: 22px;
               }
          }
    }
    .send{
        padding: 22px 30px;
        border-radius: 70px;
        border: 1px solid #FFF;
        font-size: 34px;
        color: white;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 0;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(268deg, #C444FF 0%, #562999 60.78%);
          z-index: -1;
          transition: .3s;
          border-radius: 70px;
        }
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
          transition: .3s;
          border-radius: 70px;
          height: 100%;
          background: linear-gradient(-268deg, #C444FF 0%, #562999 60.78%);
          opacity: 0;
        }
        &:hover{
          &:after{
            opacity: 0;
          }
          &:before{
            opacity: 1;
    
          }
        }
    }
}