.services-block{
    margin: 60px 0;
    @media (max-width: 767px) {
        margin: 40px 0;
      }
    p{
        margin-bottom: 60px;
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
    }
    .services-link{
        margin-bottom: 30px;
        border-radius: 20px;
        border: 1px solid #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;
        font-size: 54px;
        font-weight: 300;
        color: white;
        overflow: hidden;
        position: relative;
        z-index: 0;
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        @media (max-width: 767px) {
          font-size: 22px;
          border-radius: 16px;
          margin-bottom: 15px;
          padding: 15px;
          img{
            width: 20px;
          }
        }
        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #C444FF 0%, #562999 100%);
          z-index: -1;
          transition: .3s;
        }
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: -1;
          transition: .3s;
          height: 100%;
          background: linear-gradient(-90deg, #C444FF 0%, #562999 100%);
          opacity: 0;
        }
        &:hover{
          &:after{
            opacity: 0;
          }
          &:before{
            opacity: 1;
  
          }
        }
    }
}

